  .contact-form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

  }
  .modal {
    display: block;
  }

  .modal-body:before,
    .modal-body:after {
      display: table;
      content: " ";
  }

  .modal-header:before,
  .modal-header:after {
    display: table;
    content: " ";
  }
