<div class="bg-gradient-to-r from-neutral-800 to-neutral-900">
  <div data-aos="fade-right" data-aos-duration="500" >
    <div
      class="scroll-m-6 slide1 text-white flex-col justify-center items-start w-screen h-screen px-20 md:px-auto bg-gradient-to-r from-teal-300 to-neutral-800"
    >
      <p class="text-7xl font-semibold bb texttt">Hi, I am Mohamad</p>

      <p class="text-xl re">
        a junior web developer,<br />and computer science student
      </p>
      <div class="flex flex-row gap-2 res">
        <a href="https://www.linkedin.com/in/mohammad-alhassan-alghoush-210570287/"><button class="bg-emerald-800 hover:bg-neutral-800 text-white font-bold py-2 px-4 rounded duration-500 re2 cvv">Hire me</button>
        </a>
        <button class="bg-neutral-800 hover:bg-emerald-800 text-white font-bold py-2 px-4 rounded duration-500 re2 cvv" (click)="openContactForm()">Contact me</button>
      </div>
    </div>
    <div
      class="w-screen bg-gradient-to-r from-neutral-800 to-neutral-900 h-16"
    ></div>
    <div data-aos="fade-right"
      class="scroll-m-6 slide2 text-white flex-col justify-center items-start w-screen h-screen px-20 md:px-auto bg-gradient-to-r from-teal-300 to-neutral-800"
    >
      <p class="text-7xl font-semibold bb texttt">Who Am I
      </p>

      <p class="text-neutral-300 text-xl re">
        I'm Mohamad, currently fornt end web developer focused on full-stack development.
      </p>
    </div>
    <div
      class="w-screen bg-gradient-to-r from-neutral-800 to-neutral-900 h-16"
    ></div>

    <div data-aos="fade-right"
      class="scroll-m-6 slide3 text-white flex-col justify-center items-start w-screen h-screen px-20 md:px-auto bg-gradient-to-r from-teal-300 to-neutral-800"
    >
      <p class="text-7xl font-semibold bb texttt">My Interests</p>

      <p class="text-neutral-300 text-xl re">
        Apart from coding, I'm an enthusiastic photographer and video editor, artist and music producer-soon-. My interests also extend exploring the various cultures around the world and the amzing nature of our planet.
      </p>
    </div>

    <div
      class="w-screen bg-gradient-to-r from-neutral-800 to-neutral-900 h-16"
    ></div>

    <div data-aos="fade-right"
      class="scroll-m-6 slide4 text-white flex-col justify-center items-start w-screen h-screen px-20 md:px-auto bg-gradient-to-r from-teal-300 to-neutral-800"
    >
      <p class="text-7xl font-semibold bb texttt">Education</p>

      <p class="text-neutral-300 text-xl re">
        I'm currently a Computer science student at AOU Egypt. My goal is to expand my skills in software development and web development.
      </p>
    </div>
    <div
      class="w-screen bg-gradient-to-r from-neutral-800 to-neutral-900 h-16"
    ></div>
    <div data-aos="fade-right"
      class="scroll-m-6 slide5 text-white flex-col justify-center items-start w-screen h-screen px-20 md:px-auto bg-gradient-to-r from-teal-300 to-neutral-800"
    >
      <p class="text-7xl font-semibold bb texttt">What's Next?</p>

      <p class="text-neutral-300 text-xl re">
        Thank you for visiting my website! Feel free to explore my portfolio and reach out if you'd like to collaborate or just say hi. I'm excited to share my journey and projects with you!
      </p>
    </div>
    <div
      class="w-screen bg-gradient-to-r from-emerald-950 to-neutral-900 h-16"
    ></div>
  </div>

</div>
